apiVersion: v1
kind: ConfigMap
metadata:
  name: ebs-provisioner
  namespace: default
data:
  file.system.id: "{{ ebs_filesystem_id | default('') | quote }}"
  aws.region: "{{ default_region | default('us-gov-east-1') }}"
  provisioner.name: openshift.org/aws-ebs
  dns.name: "{{ ebs_fqdn | default('') | quote }}"
