apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  labels:
    machine.openshift.io/cluster-api-cluster: "{{ infrastructure_name }}"
  name: "{{ infrastructure_name }}-storage-us-gov-east-1b"
  namespace: openshift-machine-api
spec:
  replicas: 1
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: "{{ infrastructure_name }}"
      machine.openshift.io/cluster-api-machineset: "{{ infrastructure_name }}-storage-us-gov-east-1b" 
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: "{{ infrastructure_name }}" 
        machine.openshift.io/cluster-api-machine-role: worker
        machine.openshift.io/cluster-api-machine-type: worker
        machine.openshift.io/cluster-api-machineset: "{{ infrastructure_name }}-storage-us-gov-east-1b"
    spec:
      metadata:
        labels:
          cluster.ocs.openshift.io/openshift-storage: ""
      providerSpec:
        value:
          ami:
            id: ami-a45ab1d5 
          apiVersion: awsproviderconfig.openshift.io/v1beta1
          blockDevices:
            - ebs:
                iops: 0
                volumeSize: 120
                volumeType: gp2
            - deviceName: /dev/sdb
              ebs:
                iops: 0
                volumeSize: 1000
                volumeType: gp2
            - deviceName: /dev/sbc
              ebs:
                iops: 0
                volumeSize: 1000
                volumeType: gp2
          credentialsSecret:
            name: aws-cloud-credentials
          deviceIndex: 0
          instanceType: m5.4xlarge
          kind: AWSMachineProviderConfig
          placement:
            availabilityZone: us-gov-east-1b
            region: us-gov-east-1
          securityGroups:
            - filters:
                - name: tag:Name
                  values:
                    - "ocp4-fee54-worker-sg"  
                - name: tag:Name
                  values:
                    - "sbx2-common-rhel-sg"
          subnet:
            id: "subnet-064700fa0045352e2" #change 
          tags:
            - name: "kubernetes.io/cluster/{{ infrastructure_name }}"
              value: owned
          userDataSecret:
            name: worker-user-data   
