apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  labels:
    machine.openshift.io/cluster-api-cluster: "{{ infrastructure_name }}"
  name: "{{ infrastructure_name }}-worker-us-gov-east-1b"
  namespace: openshift-machine-api
spec:
  replicas: 1
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: "{{ infrastructure_name }}"
      machine.openshift.io/cluster-api-machineset: "{{ infrastructure_name }}-worker-us-gov-east-1b" 
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: "{{ infrastructure_name }}" 
        machine.openshift.io/cluster-api-machine-role: worker
        machine.openshift.io/cluster-api-machine-type: worker
        machine.openshift.io/cluster-api-machineset: "{{ infrastructure_name }}-worker-us-gov-east-1b"
    spec:
      metadata:
        labels:
          node-role.kubernetes.io/worker: ""
      providerSpec:
        value:
          ami:
            id: ami-a45ab1d5 
          apiVersion: awsproviderconfig.openshift.io/v1beta1
          blockDevices:
            - ebs:
                iops: 0
                volumeSize: 120
                volumeType: gp2
          credentialsSecret:
            name: aws-cloud-credentials
          deviceIndex: 0
          iamInstanceProfile:
            id: ocp4-fee54-worker-profile
          instanceType: m5.4xlarge
          kind: AWSMachineProviderConfig
          placement:
            availabilityZone: us-gov-east-1b
            region: us-gov-east-1
          securityGroups:
            - id: "sg-0d31847d1f9764fe8"
            - filters:
                - name: tag:Name
                  values:
                    - "ocp4-fee54-worker-sg"  
          subnet:
            id: "subnet-064700fa0045352e2" 
          tags:
            - name: "kubernetes.io/cluster/{{ infrastructure_name }}"
              value: owned
          userDataSecret:
            name: worker-user-data   
